body {
  background-color: #EB5353;
}


.apple1 {
  background-color: blue;
}

.grapes1 {
  background-color: #C4DDFF;
}

.circular1 {
  border-radius: 10px
}

.circular2 {
  border-radius: 100px
}

.apple1:hover {
  background-color: gold;
}

.grapes1:hover {
  background-color: gold;
}
